body {
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  canvas {
    background-color: #222;
    border: 2px solid #fff;
    image-rendering: pixelated;
  }
  